@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #888;
}

nav {
  @apply !border-b-zinc-100 dark:!border-b-zinc-800 dark:bg-zinc-950;
}

nav[role="navigation"] {
  @apply dark:bg-transparent;
}

.max-h-screen {
  height: calc(100vh - 64px);
}

/* CSS customizado */

.fade-enter {
  @apply opacity-0 transform scale-95;
}

.fade-enter-active {
  @apply opacity-100 transform scale-100 transition-opacity transition-transform duration-300;
}

.fade-exit {
  @apply opacity-100 transform scale-100;
}

.fade-exit-active {
  @apply opacity-0 transform scale-95 transition-opacity transition-transform duration-300;
}